@font-face {
    font-family: 'Amazon Ember';
    src: url('AmazonEmber-Medium.woff2') format('woff2'),
        url('AmazonEmber-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmazonEmber';
    src: url('AmazonEmber-Bold.woff2') format('woff2'),
        url('AmazonEmber-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amazon Ember Cd RC';
    src: url('AmazonEmberCdRC-Regular.woff2') format('woff2'),
        url('AmazonEmberCdRC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

